.corpo{
    font-family: Atkinson Hyperlegible;
    color: #333538;
    background-color: #EFEAD0;
    display: table;}
    
/* Não consegui fazer isso mudar de posição
.apoio{
    float: top left;
    display: inline;
*/