/*importações */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');


:root{
	--cor-1: #6fec6f;
	--cor-2: #6fc8ec;
	--cor-3: #e4a3c1;
	--cor-4: #e4d48f;
	--cor-branco: #f7f4f4;
	--cor-branco-2: #e6e1e1;
	--cor-preto: #333333;
	--fundo-1: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-blue-background-with-geometric-forms-image_280879.jpg);
}


body {
	font: 12pt 'Atkinson Hyperlegible', sans-serif;
	background-color: var(--cor-preto);
	margin: 0;
	padding: 0;
}

#imagem_bg{
	z-index: -1;
	position: absolute;
	width: 100%;
	height: auto;
	filter: blur(8px) brightness(50%);
}

h1, h2, h3, h4{ margin: 0; }
a {color: var(--cor-4); }

.flex_row{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

.flex_col{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

/*=========== Header =================*/
.header, .footer {
	min-height: 20px;
	padding: 10px 7.5vw;
	background: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);
	color: var(--cor-branco); }

.menu {
	margin: 0 12px; }

.drop_content{
	display: none;
	background-color: var(--cor-preto);
	text-decoration: unset; 
	padding: 6px;}
	
	.exibir .drop_content{
		display: inline-block; }


/*=========== Main =================*/
.mainContainer{
	margin: 0;
	margin: auto;
	padding: 15px 30px;
	width: 80vw;
	max-width: 700px;
	justify-content: center;
	background-color: var(--cor-branco);
} 
.caixas {
	width: 60px;
	height: 60px;
	background-color: orange;
	margin: 0px;
	border-radius: 10px;
	display: inline-block;
}

.borda1 {
	border: 2px solid #1ba19ae3; border-radius: 3px;
	box-shadow: 0 0 8px #666666;
	padding: 6px; margin: 0px;
}

/*=========== Footer =================*/
.form {
	max-width: 300px;
}
.form input, button, textarea{
	width: max-content;
	color: #e5ece5;
	background-color: unset;
	font: inherit;
	padding: 4px;
	border: unset;
	border-radius: 3px;
	border-bottom: 2px solid #51bdb8;
}

/*------------ Classes "dinâmicas" ---------------*/
.corA {background-color: var(--cor-1);}
.corB {background-color: var(--cor-2);}
.corC {background-color: var(--cor-3);}

